<br>
<div class="container">
  <div class="conainer mb-3 text-decoration-none">
    <%= link_to "← Back", :back %>
  </div>
  <div class="container mb-5">
        <br>
        <h2> <%= @order.product.title %></h2>
        <p class="text-muted"> <%= @order.product.description %></p>

    <div class="row">
      <div class= "col-9 my-3 d-flex align-items-center">
        <%if @order.product.user.avatar.attachment.nil? %>
          <div> <%= image_tag 'https://avatars.dicebear.com/api/male/john.svg?mood[]=happy', :width => 50, :height => 50, :crop => :fill, class: 'avatar-menubar'%> </div>
        <% else %>
          <div> <%= cl_image_tag(@order.product.user.avatar.key, :width => 50, :height => 50, quality: 100, :crop => :fill, class: 'avatar-menubar')%> </div>
        <% end %>
        <div class="ml-2"> <strong> <%= @order.product.user.username %> </strong> is donating half of it to: <strong> <%= @order.product.npo.name%> </strong> </div>
      </div>
      <div class="col-3 d-flex align-items-center flex-row-reverse">
        <% if @chatroom_id.nil?%>
          <% if current_user != @order.product.user %>
              <%= link_to "Contact", chatrooms_path(:title => @order.product.title, :product_id => @order.product.id, :user_id => current_user.id), :method => :post , class: "btn btn-handers-outline flex-grow-1 m-4 " %>
            <% end %>
          <% else %>
            <a href="/chatrooms/<%= @chatroom_id %>" class="btn btn-handers-outline flex-grow-1 m-4 <%= "d-none" if current_user == @order.product.user %>">Send a message</a>
          <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="mb-4 mt-2">

      <h4>Shipping status</h4>
      <% if @order.status == "pending" %>
        <div class="progress mt-3">
          <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #ADC4F8" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Request sent</div>
        </div>
      <% elsif @order.status == "completed" %>
        <div class="progress mt-3">
          <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #9ED4A3" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">The product is on it´s way </div>
        </div>
      <% else %>
        <div class="progress mt-3">
          <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #F38181" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">The product was cancelled, no shipping available </div>
        </div>
      <% end %>

      <br>
    </div>
    <h4>
      Your order status:
      <% if current_user == @order.user && @order.status == "completed"%>
        (<%= link_to "Leave a review", new_product_review_path(@order.product)%>)
      <% end %>
    </h4>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="prefix">Order date:</span>
        <span class="label label-success"> <%= @order.created_at %> </span>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="d-fex align-content-center">
            <div>
              <span class="prefix">Order status:</span>
              <span class="label label-success"> <strong> <u><%= @order.status.capitalize %></u> </strong></span>
            </div>
          </div>
          <div>
            <% if current_user == @order.product.user %>
              <% if @order.status == "pending" %>
                <%= simple_form_for(@order) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: {value: "completed"} %>
                  <%= f.button :submit, "Approve", class: 'btn btn-handers' %>
                <% end %>

                <%= simple_form_for(@order) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: {value: "cancelled"} %>
                  <%= f.button :submit, "Cancel", class: 'btn btn-handers-outline' %>
                <% end %>
                <% else %>
                   <p class="fa-primary"> <%= @order.status.capitalize %> </p>
              <% end %>
            <% end %>
            <!-- <button type="button" class="btn btn-sm btn-handers-outline">Cancel</button> -->
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <strong><span class="prefix">Order total:</span>
        <span class="label label-success"> <%= humanized_money_with_symbol @order.price %> </span></strong>
      </li>
      <li class="list-group-item">
        <span class="prefix">As a "Hander" you are donating half of the total price to: </span>
        <span class="label label-success"> <strong> <%= @order.npo.name %> </strong> </span>
      </li>
      <li class="list-group-item">You can learn more about the cause you are donating at the following link:  <a href="http://<%= @order.npo.url %>" target="_blank"> <%= @order.npo.name %> </a></li>
    </ul>
    </div>
    <br>
  <div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel" style='height:200;'>
    <div class="carousel-inner" style="border-radius: 15px; height:350px;" >
      <% @order.product.photos.each_with_index do |flat, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <img class="d-block w-100" src="<%= cl_image_path flat.key, aspect_ratio: 1.1, quality: 100, crop: :fill, gravity: :center, class: "d-block" %>" alt="First slide">
      </div>
      <% end %>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>

