
<div class="container">
  <div class="row">
    <div>
      <% @products.each do |product| %>
          <div class="col-12 my-4">
          <!--   <a href="/products/<%= product.id %>"> -->
              <div class="card d-flex">
                <img class="card-img-top" src="<%= cl_image_path product.photos.first.key, quality: 100, crop: :fill %>" alt="Card image cap">
                <div class="card-body">
                  <h4 class="mb-0 price-category"><i class="fas fa-gavel"></i> <%= product.min_price %>€</h4>
                  <h6 class="mb-0"> <%= product.title.capitalize %></h6>
                  <p class="text-muted mb-0 p-description"> <%= product.description.capitalize %></p>
                </div>
                <a class="btn btn-buyproduct px-4" href="/products/<%= product.id %>" role="button">Hand-it/See product</a>
                  <!-- <button type="button" >Buy</button> -->

           <!--  </a> -->
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
