
<div class="container" data-controller="image">
  <div class="row justify-content-center">
    <div>
      <% @products.each do |product| %>
          <div class="col-12 my-4">
            <%= link_to product_path(product), class: "text-decoration-none color-link-none" do %>
              <div class="card d-flex" style="border-radius: 15px;">

                <%= cl_image_tag product.photos.first.key, height: 300, width: 500, class: 'card-img-top', style: 'border-top-right-radius: 14px; border-top-left-radius: 14px; object-fit: cover;' %>
                <div class="card-body">
                  <h4 class="mb-2 p-title"> <%= product.title.capitalize %></h4>
                  <div class="d-flex align-items-end">
                    <h5 class="mb-0 mr-2 price-category"><%= humanized_money_with_symbol(product.min_price) %></h5><em><p class="text-muted m-0 p-description">Minimum amount</p></em>
                  </div>
                  <p class="text-muted mb-0 p-description mt-2 max-length"> <%= product.description.capitalize %></p>
                  <span class="text-danger text-right mb-0 p-description mt-2 max-length"> <%= product.orders.count %> Offers</span>


                    <h4 class="mb-2 p-title"> <%= product.title.capitalize %></h4>
                    <div class="d-flex align-items-end">
                      <h5 class="mb-0 mr-2 price-category"><%= humanized_money_with_symbol(product.min_price) %></h5><em><p class="text-muted m-0 p-description">Minimum amount</p></em>
                    </div>
                    <p class="text-muted mb-0 p-description mt-2 max-length"> <%= product.description.capitalize %></p>
                  </div>
                  <div class="text-right" style="width: 100px; float: left">
                    <span>
                      <img src="<%= cl_image_path product.npo.photo.key, height: 100, width: 100, crop: :fill %>" class="avatar-menubar" style="object-fit: cover; height:60px; width:60px;" alt="">
                    </span>
                    <span class="color-green text-right mb-0 p-description mt-2 max-length"> <%= product.orders.count %> Offers</span>
                  </div>
                </div>
               <!--  <div class="d-flex">
                  <a class="btn btn-handers-outline flex-grow-1 mx-4 mb-3 mt-1" href="/products/<%= product.id %>" role="button">Hand-it/See product</a>
                </div> -->
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
