<div class="container custom-productshow-container" data-controller="upload">
<br>
  <h2>Upload a Product</h2>
  <div data-controller="location">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :title,
                placeholder: 'Title',
                label: false %>
    <%= f.input :description,
                placeholder: 'Description',
                label: false %>
    <%#= f.input :category,
                placeholder: 'Category',
                label: false %>
    <%= f.input :location,
                placeholder: 'Location',
                label: false %>
    <%= f.input :min_price,
                input_html: { min: '0' },
                placeholder: 'Min price',
                label: false %>
    <hr/>

    <%= f.association :npo %>


<!--     < #%= f.input :npo,

                label: 'Which NPO will you be donating to?',
                collection: [['UNICEF', 'UNICEF'], ['WWF', 'WWF' ], ['Cruz Roja', 'Cruz Roja'],
                ['Greenpeace', 'Greenpeace'], ['Save the Children', 'Save the Children'],
                ['Help Refugiees', 'Help Refugiees'], ['Coral Reef Restore', 'Coral Reef Restore']],
                label_method: :second, value_method: :first %> -->

    <%#= f.association :npos,
                label: 'Which NPO will you be donating to?'%>


    <%= f.input :photos,
                as: :file,
                input_html: {multiple: true,  class: 'inputfile-products inputfile-products__photos', data: { action: 'change->upload#previewImage' }},
                label: 'Choose photos',
                label_html: {class: 'rounded-label-reverse-product'}%>

    <div data-target="upload.preview">

    </div>
    <%= f.button :submit, "Save", class: 'btn btn-handers main-btn main-btn-fw' %>
    <% end %>
  </div>
</div>
