
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel" style='height:200;'>
    <div class="carousel-inner" style="border-radius: 15px; height:350px;" >
      <% @product.photos.each_with_index do |flat, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <img class="d-block w-100" src="<%= cl_image_path flat.key, aspect_ratio: 1.1, quality: 100, crop: :fill, gravity: :center, class: "d-block" %>" alt="First slide">
        </div>
      <% end %>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      <div class="container mb-5">
        <br>
        <h2> <%= @product.min_price %> €</h2>
        <h3> <%= @product.title %></h3>
        <p class="text-muted"> <%= @product.description %></p>
      </div>
      <hr/>
      <div class="container my-4"><h6><i class="fas fa-map-marker-alt fa-lg mr-2" style="color: #F38181;"></i><%= @product.location%></h6></div>
      <div data-controller="map" style="z-index: 0;">
        <div id="map"
          data-target="map.map"
          style="width: 100%; min-height: 350px; border-radius: 15px; margin-top: 20px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <br>
      <hr/>
      <br>
      <div class="mb-4">
        <%if @product.user.avatar.attachment.nil? %>
          <%= image_tag 'https://avatars.dicebear.com/api/male/john.svg?mood[]=happy', :width => 40, :height => 40, :crop => :fill, class: 'avatar-menubar'%>
        <% else %>
        <%= cl_image_tag(@product.user.avatar.key, :width => 50, :height => 50, :crop => :fill, class: 'avatar-menubar')%>
        <% end %>
        <%= @product.user.username %> is donating half of the price to: <%= @product.npo %>
        <br>
      </div>
        <div class="d-flex" style="margin-bottom: 10px;">
          <button class="btn btn-handers-outline flex-grow-1 m-4 <%= "d-none" if current_user == @product.user %>">Send a message</button>
        </div>
      <br>
</div>
<nav>
  <div class="fixed-bottom" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.99) 90.76%); margin-bottom: 50px; z-index: 1000;">
    <div class="container d-flex">
      <% if current_user == @product.user %>
        <a class="btn btn-handers flex-grow-1 m-4" href="/products/<%= @product.id %>/edit">Edit this product<i class="fas fa-edit ml-2"></i></a>
       <% else %>
        <button class="btn btn-handers flex-grow-1 m-4" data-toggle="modal" data-target="#exampleModal">Buy now</button>
      <% end %>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make an order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for (@order) do |f| %>
            <div><h4>Pick a fair price</h4></div>
          <input class="form-control numeric float optional" placeholder="Minimum <%= @product.min_price %> €" type="number" step="any" name="order[price]" id="order_price">
          <%= f.hidden_field :product_id, value: @product.id %>
          <br>
          <%= f.input :npo,
                          label: 'Which NPO will you be donating to?',
                          collection: [['UNICEF', 'UNICEF'], ['WWF', 'WWF' ], ['Cruz Roja', 'Cruz Roja'],
                          ['Greenpeace', 'Greenpeace'], ['Save the Children', 'Save the Children'],
                          ['Help Refugiees', 'Help Refugiees'], ['Coral Reef Restore', 'Coral Reef Restore']],
                          label_method: :second, value_method: :first %>
       <%= f.button :submit, "Buy product", class: "btn btn-handers btn-handers-r" %>
             <% end %>
      </div>

    </div>
  </div>
</div>



